/* styles.css */
#requirementsList {
  max-height: 220px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#requirementsList::-webkit-scrollbar {
  width: 6px;
}

#requirementsList::-webkit-scrollbar-thumb {
  background-color: #a1a1aa; /* gray-400 */
  border-radius: 3px;
}
